button {
    border: 2px solid black;
    font-weight: 700;
    padding: 12px 7px;
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 229, 229);  
    padding: 20px;
}

 ul {
    display: flex;
    gap: 20px;
}



.container{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.card img{
    width: 100%;
}